$primary : #2C7BC6;
$secondary : #000;


.basic__step { 
  text-align: left;
  padding: 0  !important;

  
  h4, h3,p{
    color: #000 !important;
    font-style: normal !important;
    
  }
}


.basic-imageStep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container{

  max-width: 200px;
  margin: 0 auto;
  height: 95px;

}



.skip-tour{
  font-size: 16px;
  color: $primary;
  
}

.stepHeader{
  font-size: 24px;
  font-style:italic !important;
  color: $primary !important;
  font-weight: 600;
}

.stepDescription {
  color: $secondary;
  font-size: 16px ;
  font-weight: 400;
  margin-top: 0 !important;
  padding: 1rem 0;

}





.step-image{
 width:  120px;
 height: 100px;

}

.image-large {
  width: 230px;

}


